.sample-component-container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.sample-component-sidebar {
  width: 250px;
  background-color: #121e40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sample-component-sidebar ul {
  list-style: none;
  padding: 0;
}

.sample-component-sidebar li {
  margin-bottom: 15px;
}

.sample-component-sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}

.sample-component-sidebar a:hover {
  background-color: #785d32;
}

/* Main Content */
.sample-component-content {
  flex-grow: 1; /* Allow it to grow to fill remaining space */
  padding: 20px;
  background-color: #ffffff;
  overflow: auto; /* Allows scrolling if content overflows */
}

.header1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sort-bar-container,
.search-bar-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
   padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.assign-driver-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.assign-driver-btn,
.back-btn,
.pdf-btn {
  padding: 10px 15px;
  background-color: #123a6b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.assign-driver-btn:hover,
.back-btn:hover,
.pdf-btn:hover {
  background-color: #785d32;
}

@media (max-width: 768px) {
  .sample-component-container {
    flex-direction: column;
  }

  .sample-component-sidebar {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  .controls-container {
    flex-direction: column;
    align-items: flex-start;
  }

  table {
    font-size: 12px;
  }

  .assign-driver-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
