.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.login-popup-container{
    place-self: center;
    color: #808080;
    background-color:#e0c4a0 ;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
    width: 90%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width */
    height: auto; /* Adjust the height as needed */
    max-height: 90%; /* Set a maximum height */
    overflow-y: auto; /* Add scroll if content overflows */
}

.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup-title img{
    width: 16px;
    cursor: pointer;
}

.login-popup-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-popup-input input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #4a1b00;
    font-size: 15px;
    cursor: pointer;
}

.login-popup-condition{
    display: flex;
    align-items: flex-start; /* Align items to the center */
    gap: 1px; /* Adjust the gap as needed */
    margin-top: -5px; /* Adjust the margin as needed */
}

.login-popup-condition input{
    margin-top: 0; /* Remove the top margin */
}

.login-popup p span{
    color: #4a1b00;
    font-weight: 500;
    cursor: pointer;
}