.Dash-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 88vh; /* Full viewport height */
    background-image: url('/../dashback.jpg');
    display: flex;
    color: white; /* White text color */
    text-align: center; /* Center text alignment */
  }
  
  .dash-message {
    font-size: 3rem; /* Big font size */
    font-weight: bold; /* Bold text */
    margin-bottom: 2rem; /* Space below the message */
    color: #050A30;
  }
  
  .dbutton-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 1rem; /* Space between buttons */
  }
  
  .dnav-button {
    padding: 1.5rem 3rem; /* Button padding */
    font-size: 1.75rem; /* Button text size */
    color: white; /* Button text color */
    background-color: #3e160c; /* Slightly darker orange for buttons */
    border: none; /* Remove default border */
    border-radius: px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color change */
  }
  
  .dnav-button:hover {
    background-color: #785D32 !important;/* Darker orange on hover */
  }
  .signout-btn {
    max-width: 200px;
    border: none;
    padding: 10px;
    background-color: #3E160C ;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.signout-btn:hover {
    background-color: #785D32 !important;
}

/* Transparent box styling */
.transparent-box {
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white background */
    padding: 5rem; /* Padding inside the box */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visibility */
    backdrop-filter: blur(10px); /* Blur effect for the background */
}