@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  min-height: 100vh;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 100%;
  margin: auto;
  background-color: #f3f5fa;
  height: 100vh;
}

.navbar ol, ul, dl {
  margin-top: 0;
  margin-bottom: 0rem;
}


@keyframes identifier {
  0%{
    opacity:0;
  }
  100%{
    opacity: 1;
  }
  
}